.logo{
    border: thick solid #000;
    margin-left: auto;
    margin: auto;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.logo img{
    width: 10rem;
    height: 10rem;
}

.container{
    width: 17.5rem;
    height: 12.5rem;
    background-color: #1B2E77;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

.boton{
    width: 10rem;
    background-color: #637EE9;
    border-radius: 1.5rem;
    height: 2.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: none;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0.25rem 0.25rem 0.5rem 0,25rem rgba(0, 0, 0, 0.5);
    
}

.boton:nth-child(2){
    background-color: #637EE9;
    margin-top: 1rem;
}

.boton{
    background-image: linear-gradient(to right, rgb(242, 192, 255), rgb(96, 206, 173), rgb(57, 19, 117), rgb(0, 81, 255));
    background-size: 300% 100%;
    transition: background-position 0.5s ease-in-out;
}

.boton:hover{
    background-position: 100% 0;
}
