.logo{
    border: thick solid #000;
    margin-left: auto;
    margin: auto;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.logo img{
    width: 10rem;
    height: 10rem;
}

.container{
    width: 17.5rem;
    height: 12.5rem;
    background-color: blueviolet;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
}

.boton{
    width: 12rem;
    background-color: red;
    border-radius: 1.5rem;
    height: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.boton:nth-child(2){
    background-color: blue;
    margin-top: 1rem;
}